In [1]:
library(sabre)

melt_rows(
  businesses[4:8, 3:4],
  "trading_name",
  dividers = c("\\|", " trading as ", "t/a", "\\/")
  ) %>%
  dplyr::mutate_at(., "trading_name", ~replace_in_string(., "@", "")) %>%
  dplyr::mutate_at(., "trading_name", strip_business_legal_entity_type) %>%
  dplyr::mutate_at(., "trading_name", stringr::str_squish)

  postcode trading_name
1 B42 1AB  Cosy café The horse and hound
2 B25      Food Zone
3 B25      ReFood
4 G12 0ZS  Hocus Pocus
5 G12 0ZS  Van Leer
6 SE16 1BE Media Luna Bakery
7 SE16 1BE Media Luna
8 EC2M 1AA
9 EC2M 1AA Pharmacy Doherty

In [2]:
businesses[1:8, 2:3]

  address
1 KINKER HOUSE, GUILD STREET, MIDDLESBROUGH,REDCAR AND CLEVELAND, TS4 6UD
2 FACTORY HOUSE 202-205, BOROUHBRIDGE ROAD, MIDDLESBROUGH, MIDDLESBROUGH, TS1 5QW
3 Dockers Road, Grangetown, TS3 3UD
4 1, ONE STOP SHOPPING PARK, ROMAI ROAD, BIRMINGHAM,  BIRMINGHAM, B2 9DY|UNITS 1 AND 34, ONE STOP RETAIL CENTRE 2, WALLSTREET ROAD, PERRY BARR, BIRMINGHAM, BIRMINGHAM, B2 9DY
5 23 Abbess Grove,BIRMINGHAM,  BIRMINGHAM,B25 8YB
6 Ninth Street 39 , Glasgow G12 0ZS
7 66 Guild St, London, SE16 1BE
8 54 Cunnery Rd, London EC2M 1AA
  postcode
1 TS4 6UD
2 TS1 5QW
3 TS3 3UD
4 B42 1AB
5 B25
6 G12 0ZS
7 SE16 1BE
8 EC2M 1AA

In [3]:
col_diff(businesses[1:8, 2:3],
         address,
         postcode,
         how = c('lowercase', 'squish'))

  address
1 kinker house, guild street, middlesbrough,redcar and cleveland,
2 factory house 202-205, borouhbridge road, middlesbrough, middlesbrough,
3 dockers road, grangetown,
4 1, one stop shopping park, romai road, birmingham, birmingham, b2 9dy|units 1 and 34, one stop retail centre 2, wallstreet road, perry barr, birmingham, birmingham, b2 9dy
5 23 abbess grove,birmingham, birmingham, 8yb
6 ninth street 39 , glasgow
7 66 guild st, london,
8 54 cunnery rd, london
  postcode
1 ts4 6ud
2 ts1 5qw
3 ts3 3ud
4 b42 1ab
5 b25
6 g12 0zs
7 se16 1be
8 ec2m 1aa